@charset "utf-8";

body {
  background: #22252D;
}

.header-text {
  font-size: 1.25em;
  font-weight: bold;
}

.crypto-button,
.visibility-btn {
  display: inline-block;
  color: #212529;
  border: 2px solid #f2f2f2;
  padding: 0.575rem 0.75rem;
  font-size: 1.3em;
  line-height: 1.5;
  border-radius: 0.65rem;
  color: #fff;
  background-color: #fff;
  margin: 1em;
  cursor: pointer;
  width: 45%;
  height: 3.2em;
  display: flex;
  justify-content: start;
  font-weight: bold;
}

.crypto-button:hover,
.visibility-btn:hover {
  border: none;
  border: 2px solid #fff;
  transform: scale(1.05);
}

.visibility-btn {
  color: #000 !important;
  height: 2.6em;
}

.crypto-button a {
  text-decoration: none;
  color: #000;
  text-align: center !important;
  align-self: center;
  margin-left: .8em;
}

.crypto-button a:hover {
  color: blue;
}

.crypto-button img {
  height: 44px;
  width: 44px;
}

.box {
  background-color: #fff;
  border: none;
  border-radius: 30px;
}

.loader {
  border-top: 5px solid blue;
  border-bottom: 5px solid blue;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  -webkit-animation: spin 2s linear infinite;
  /* Safari */
  animation: spin 2s linear infinite;
}

.mi-dark {
  background-color: #2E3139 !important;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@media (max-width: 1200px) {
  .crypto-button {
    width: 90%;
    margin: .5em;
    height: 3em;
    border-radius: 40px;
  }

  .crypto-button img {
    margin-top: 0 !important;
  }
}